body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

#map {
width: 100%;
height: 600px;
}

.legend {
line-height: 18px;
color: #555;
position: absolute;
bottom: 20px;
left: 20px;
background-color: #fff;
padding: 10px;
box-shadow: 0 1px 5px rgba(0,0,0,0.4);
border-radius: 3px;
z-index: 1000;
}

.legend i {
width: 18px;
height: 18px;
float: left;
margin-right: 8px;
opacity: 0.8;
}